*{
	margin: 0;
	padding: 0;
	border-radius: 10px;
	text-decoration: none;
}

html, body{
	min-height: 100vh%;
}

button{
	cursor: pointer;
}

input{
	padding: 3px;
}

a{
	text-decoration: none;
	color: white;
}
/*template styles*/
.header-template{
	background: #2d343c;
	color: white;
	height: 100px;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 15px;
}

.contain-left{
	display: flex;
	align-items: center;
	width: 60%;
	height: 100%;
}

.title-template{
	font-size: 1.7rem;
	text-align: center;
}

.btn-logout{
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
	text-decoration: none;
	color: white;
	display: inline-block;
	cursor: pointer;
}

.btn-back{
	color: black;
	font-weight: bolder;
	margin-left: 10px;
	padding: 5px;
	border: black solid 1px;
	text-decoration: none;
}

/*sign-in styles*/
.signin-contain{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.title-signin{
	text-align: center;
	font-size: 2.1rem;
}
.form-signin{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-signin{
	width: 340px;
	height: 40px;
	margin-bottom: 5px;

}

.enter-signin{
	width: 150px;
	height: 40px;
	margin-top: 5px;
}	

.error-signin{
	margin-top: 10px;
	font-size: 1rem;
	text-align: center;
}

/*index styles*/
.title-index{
	font-size: 1.7rem;
	margin-top: 10%;
	text-align: center;
}

.index-contain{
	display: flex;
	margin-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.calcu-link, .inv-link{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
	background: #2d343c;
	color: white;
	font-size: 1.4rem;
	font-weight: bolder;
	text-align: center;
	width: 250px;
	height: 200px;
}

/*inventario styles*/

.contain-inv{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.btn-buy{
	font-size: 1.1rem;
	cursor: pointer;
	margin-top: 50px;
	height: 200px;
	width: 250px;
}

.contain-inv input{
	width: 450px;
	height: 40px;
	margin-top: 50px;
	-moz-appearance:textfield;
}

.contain-sells{
	margin-top: 90px;
}

.title-sells{
	text-indent: 80px;
	font-size: 1.7rem;
}

.form-contain-inv{
	position: fixed;
	display: table;
	top: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 10;
	border-radius: 0;
	background: rgba(0,0,0,0.8);
}

.form-inv{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98%;
	min-height: 99vh;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
}

.form-content{
	width: 95%;
	height: 600px;
	background: white;
}

.content-inputs{
	display: flex;
	height: 400px;

	align-items: center;
	flex-direction: column;

}

.content-articles{
	display: flex;
	height: auto;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 400px;
	overflow-y: scroll;  
}

.content-articles input{
	margin-top: 5px;
	width: 120px;
	height: 25px;
}
.article{
	margin-right: 3px;
}
.btn-delete-art{
	border-radius: 10px;
	color: red;
	width: 50px;
	text-align: Center;
	font-size: 11px;
	height: 30px;
	padding: 5px;
}

.content-btn{
	display: flex;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	align-items: center;
	justify-content: space-around;
}

.content-btn button{
	height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px;
	background: #2d343c;
	color: white;
}

.list-sales{
	display: flex;
	margin-top: 30px;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.sale-contain{
	color: white;
	height: 300px;
	width: 200px;
	list-style: none;
	background: #2d343c;
	margin-bottom: 20px;
	 
}

.sale-client{
	text-align: center;
	list-style: none;
	font-size: 18px;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.sale-product{
	text-align: center;
	font-size: 16px;
}

.amount{
	margin-left: 5px;
	color: green;
}


.camps{
	margin-top: 10px;
	margin-top: 35px;
	display: flex;
	width: 82%;
	margin-right: 10px;
	justify-content: space-evenly;
}

.camps span{
	display: inline-Block;
	text-align: center;
	width: 120px;
}

.price-total-dolar{
	margin-top: 50px;
	margin-left: 15px;
}

.price-total-bs{
	margin-left: 15px;
}


.products-contain{
  max-height: 200px;
  min-height: 200px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}


.input-total{
	display: flex;
	justify-content: flex-end;
	width: 91%;
	margin-bottom: 30px;
}

.input-total input{
	width: 130px;
	height: 25px;
}

.total-dolar{
	margin-top: 5px;
}
.total-bs, .total-dolar, .fecha{
	margin-left: 15px;
}

.fecha{
	 display: inline-block;
  
}

.delete-sell{
	background: #F0F0F0;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	color: red;
	padding: 6px;
}


/* calculadora styles  */

.calc-title{
	text-align: center;
	font-size: 1.7rem;
	margin-top: 100px;
}

.tasa-dolar-calc{;
	height: 50px;
	width: 250px;
}

.calc-content-articles{
		overflow-y: hidden; 
}

.edit-num{
	margin-right: 3px;
}

.calc-tasa-dolar{
	width: 400px;
	height: 40px;
}

.calc-contain-tasa-dolar{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.calc-contain-tasa-dolar label{
	font-size:  1.5rem;
}
label{
	margin-bottom: 4px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: gray;
    padding: 15px;
    border-radius: 32px;
}

.container button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: white;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

.container button:active {
    background-color: gray;
}

.container button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}

.change-calc{
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.change-calc button{
	padding: 15px;
}