extends ../templates/template

block main
	a(href="/index" class="btn-back") Volver
	div(class="change-calc")
		button(class ="calc-btn" onClick="changeCalc()") Cambiar calculadora
	div(class="calc-normal" id="calc-normal")
		h1(class="calc-title") Calculadora
		div(class="container")
			div(class="calculadora")
				div(class='display')
					div(id="valor-anterior")
					div(id="valor-actual")
				button(class="col-2" onClick="display.borrarTodo()") C
				button(onClick="display.borrar()") &#129044;
				button(class="operador" value="dividir") %
				button(class="numero") 7
				button(class="numero") 8
				button(class="numero") 9
				button(class="operador" value="multiplicar") X
				button(class="numero") 4
				button(class="numero") 5
				button(class="numero") 6
				button(class="operador" value="restar") -
				button(class="numero") 1
				button(class="numero") 2
				button(class="numero") 3
				button(class="operador" value="sumar") +
				button(class="col-2 numero") 0
				button(class="numero") .
				button(class="operador" value="igual") =	


	div(class="calc-system" id="calc-system")
		h1(class="calc-title") Calculadora del Sistema
		div(class="form-content")
			div(class="content-inputs")
				div(class="camps")
									span(class="articulo-camp") Articulo
									span(class="mount-camp") Cantidad
									span(class="priceDolar-camp") Precio $
									span(class="priceBs-camp") Precio Bs
									span(class="totalDolar-camp") Monto $
									span(class="totalBs-camp") Monto Bs
				div(class="content-articles calc-content-articles")
					div(class="article")
						input(id="article" type="text" placeholder="nombre del articulo")
						input(id="mount" oninput="changeMount(this)" type="number" placeholder="cantidad de articulos") 
						input(id="price" step="0.01" type="number" oninput="converToBs(this)" name="priceDolar" placeholder="precio del articulo $")
						input(id="priceBs" step="0.01" type="number" placeholder="monto bs" readonly)
						input(id="priceTotalDolar" step="0.01" type="number" placeholder="total $" readonly)
						input(id="priceTotalBs" step="0.01" type="number" placeholder="monto Bs" readonly)
				input(type="number" class="tasa-dolar-calc" id="tasa-dolar" placeholder="Ingrese tasa del dólar actual..." name="tasa-dolar" step="0.01")
		script
			include ../js/calculadora/calculator.js
		script 
			include ../js/calculadora/changeCalc.js
		script
			include ../js/shared/calcSystem.js