extends ../templates/template

block main
				h1(class="title-index") Elija una opción.
				div(class="index-contain")
					a(href="/calculadora" class="calcu-link") Calculadora
					a(href='/inventario' class="inv-link") Inventario
