doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge" Content-Type="text/javascript")
		title PuntoMarket
		style
			include ../css/index.css

	body
		header(class="header-template")
			div(class="contain-left")
				h1(class="title-template") PuntoMarket - El Barateiro C.A.
			a(href="/logout" class="btn-logout") Cerrar sesión
		block main